html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#header {
}
.menus {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    visibility: hidden;
    text-align: center;
    line-height: 5;
    color: #191919;
    background-color: #f3f3f3;
    /*在过渡开始前等待0.6s*/
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
    overflow: auto;
}
#wrap {
    position: fixed;
    z-index: 998;
    width: 100%;
    height:100%;
    line-height: 5;
    color: #191919;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f3f3;
    /*过渡效果：把鼠标指针放到 div 元素上，其宽度会从逐渐变化
      对于#wrap里的全部样式，在0.6s内以cubic-bezier(0.165,.84,.44,1)的速度曲线开始过渡
    */
    -webkit-transition: all .6s cubic-bezier(0.165,.84,.44,1);
    -moz-transition: all .6s cubic-bezier(0.165,.84,.44,1);
    -o-transition: all .6s cubic-bezier(0.165,.84,.44,1);
    -ms-transition: all .6s cubic-bezier(0.165,.84,.44,1);
    transition: all .6s cubic-bezier(0.165,.84,.44,1);
}

 body.push #wrap {
     /*点击后右侧栏横轴移动一段距离*/
    -webkit-transform: translateX(305px);
    -moz-transform: translateX(305px);
    -o-transform: translateX(305px);
    -ms-transform: translateX(305px);
    transform: translateX(305px);
     /*阴影*/
    -webkit-box-shadow: -3px 0px 6px rgba(0,0,0,.8);
    -moz-box-shadow: -3px 0px 6px rgba(0,0,0,.8);
    -o-box-shadow: -3px 0px 6px rgba(0,0,0,.8);
    -ms-box-shadow: -3px 0px 6px rgba(0,0,0,.8);
    box-shadow: -3px 0px 6px rgba(0,0,0,.8);
    overflow: hidden;
}
body.push .menus {
    height: 100%;
    /*visible元素可见*/
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-box-shadow: -3px -3px 6px rgba(0,0,0,.8);
    -moz-box-shadow: -3px -3px 6px rgba(0,0,0,.8);
    -o-box-shadow: -3px -3px 6px rgba(0,0,0,.8);
    -ms-box-shadow: -3px -3px 6px rgba(0,0,0,.8);
    box-shadow: 3px 2px 26px rgba(0,0,0,.8);
}

.main-bg{
    /*图像随页面移动*/
    background: url(./bg8.jpg) no-repeat scroll center;
    background-size: cover;
}

.home-box {
    width: 100%;
    height: 240px;
    padding: 20px;
    font-family: Georgia, serif;
    background: rgba(0,0,0,.3);
    color: #EEE;
}

.nav{
    width:100%;
    text-align: center;
}

.site-title {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    line-height: 108px;
    /*字母间距*/
    letter-spacing: 5px;
    margin: 0 auto;
    padding: 0 28px;
    text-shadow: black 6px 4px 5px;
}

.site-title a {
    color: #FFF;
}
a:link, a:visited {
    opacity: 1;
    transition: all .15s linear;
}
a:hover{
    text-decoration: none;
    opacity: 0.7;
    transition: all .15s linear;
}

.site-description{
    font-size: 18px;
    /*字母间距*/
    letter-spacing: 3px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-family: "Microsoft YaHei" ! important;
    /*规定段落中的文本不进行换行*/
    white-space: nowrap;
    overflow: hidden;
}
h1,h2{
    margin: 0 0;
}
ul{
    margin:0 0;
    padding: 0 0;
}
li{
    display: inline-block;
}
.social-links {
    list-style: none;
    font-size: 16px;
    margin:0 100px;
    height: 80px;
    line-height: 80px;
}

.icon{
    font-size: 20px;
    margin: 4px;
    text-shadow: black 6px 4px 5px;
}
.icon a{
    color: white;
    display: inline-block;
    height:60px;
}

.sina{
    background: url(./sina.png) no-repeat center center;
    background-size:30px 30px;
}

.menus strong.title {
    display: block;
    font-size: 18px;
    border-bottom: 1px dashed #CCC;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 8px;
    text-align: left;
    width: 300px;
}
.menus strong.title span {
    color: #B6B6B6;
}

.menus p {
    padding-left: 15px;
    text-align: left;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 15px;
}